In [46]:
import pandas as pd
import math

# Create the dataframe
df = pd.read_csv('project007.csv', skiprows=1)  # Change to cloud if time permits
df

,Title,Year,Actor,US Box Office,International Revenue,Adjusted Revenue,Average Rating,IMDb Rating,Metacritic
0,Dr. No,1962,Sean Connery,"$16,067,035","$56,367,173 (est.)","$504,886,163",75.0%,7.2 / 10,78%
1,From Russia with Love,1963,Sean Connery,"$24,796,765","$86,993,247 (est.)","$771,567,557",79.0%,7.4 / 10,84%
2,Goldfinger,1964,Sean Connery,"$51,081,062","$179,205,128 (est.)","$1,568,911,992",82.0%,7.7 / 10,87%
3,Thunderball,1965,Sean Connery,"$63,595,658","$223,109,458 (est.)","$1,922,282,759",67.0%,7 / 10,64%
4,You Only Live Twice,1967,Sean Connery,"$43,084,787","$151,152,198 (est.)","$1,228,224,747",65.0%,6.9 / 10,61%
5,On Her Majesty's Secret Service,1969,George Lazenby,"$22,774,493","$79,898,612 (est.)","$590,857,855",64.0%,6.7 / 10,61%
6,Diamonds Are Forever,1971,Sean Connery,"$43,819,547","$153,729,919 (est.)","$1,030,180,247",62.5%,6.6 / 10,59%
7,Live and Let Die,1973,Roger Moore,"$35,377,836","$124,114,288 (est.)","$758,662,562",61.5%,6.8 / 10,55%
8,The Man with the Golden Gun,1974,Roger Moore,"$20,972,000","$73,575,016 (est.)","$405,035,686",55.0%,6.7 / 10,43%
9,The Spy Who Loved Me,1977,Roger Moore,"$46,838,673","$164,321,768 (est.)","$735,922,902",63.0%,7.1 / 10,55%
10,Moonraker,1979,Roger Moore,"$70,308,099","$210,308,099","$786,193,086",64.5%,6.3 / 10,66%
11,For Your Eyes Only,1981,Roger Moore,"$54,812,802","$192,297,005 (est.)","$574,140,893",60.5%,6.7 / 10,54%
12,Octopussy,1983,Roger Moore,"$67,893,619","$238,187,779 (est.)","$649,037,783",64.0%,6.5 / 10,63%
13,A View to a Kill,1985,Roger Moore,"$50,327,960","$176,563,058 (est.)","$445,345,854",51.5%,6.3 / 10,40%
14,The Living Daylights,1987,Timothy Dalton,"$51,185,897","$179,572,916 (est.)","$429,014,872",63.5%,6.7 / 10,60%
15,License to Kill,1989,Timothy Dalton,"$34,667,015","$156,167,015","$341,804,257",62.0%,6.6 / 10,58%
16,GoldenEye,1995,Pierce Brosnan,"$106,429,941","$352,194,034","$627,201,187",68.5%,7.2 / 10,65%
17,Tomorrow Never Dies,1997,Pierce Brosnan,"$125,304,276","$333,011,068","$563,110,304",58.5%,6.5 / 10,52%
18,The World Is Not Enough,1999,Pierce Brosnan,"$126,943,684","$361,832,400","$589,443,658",60.5%,6.4 / 10,57%
19,Die Another Day,2002,Pierce Brosnan,"$160,942,139","$431,971,116","$651,678,493",58.5%,6.1 / 10,56%
20,Casino Royale,2006,Daniel Craig,"$167,445,960","$616,502,912","$829,954,813",80.0%,8.0 / 10,80%
21,Quantum of Solace,2008,Daniel Craig,"$168,368,427","$589,580,482","$743,205,494",62.0%,6.6 / 10,58%
22,Skyfall,2012,Daniel Craig,"$304,360,277","$1,108,569,499","$1,310,390,950",79.5%,7.8 / 10,81%
23,Spectre,2015,Daniel Craig,"$200,074,609","$880,681,519","$1,008,510,398",64.0%,6.8 / 10,60%
24,No Time to Die,2021,Daniel Craig,"$120,357,453","$525,482,453","$525,482,453",68.0%,6.8 / 10 (est.),68%

In [47]:
# Turn 'International Revenue', 'Adjusted Revenue', and 'Average Rating' values from strings into floats for mathematics
df['International Revenue'] = df['International Revenue'].apply(lambda x: float(x.replace(',', '').replace('$', '').replace(' (est.)', '')))
df['Adjusted Revenue'] = df['Adjusted Revenue'].apply(lambda x: float(x.replace(',', '').replace('$','')))
df['Average Rating'] = df['Average Rating'].apply(lambda x: float(x.replace('%', '')))

In [55]:
# Calculate the Mean and Median for 'International Revenue' and 'Adjusted Revenue'
columns = ['International Revenue', 'Adjusted Revenue']
for column in columns:    
    # Calculate the Mean and Median
    mean = df[column].mean()
    mean = "${:,.0f}".format(mean)
    median = df[column].median()
    median = "${:,.0f}".format(median)
    
    # Print the Results
    print(f'The {column} has:')
    print(f'        A Mean of: {mean}')
    print(f'        A Median of: {median}')

The International Revenue has:
        A Mean of: $305,815,526
        A Median of: $192,297,005
The Adjusted Revenue has:
        A Mean of: $783,641,879
        A Median of: $651,678,493

In [56]:
# Calculate the Mean, Median, and Mode of 'Average Rating'
column = 'Average Rating'
mean = df[column].mean()
median = df[column].median()
median = "{:,.0f}%".format(median)
mode = df[column].mode().iloc[0]
mode = "{:,.0f}%".format(mode)

# Calculate the Standard Deviation of 'Average Rating' 
df['Calculations'] = df['Average Rating'].apply(lambda x: (x - mean)*(x - mean))
sum = df['Calculations'].sum()
variance = sum / len(df)
standard_deviation = math.sqrt(variance)

# Format the results
df = df.drop('Calculations', axis=1)
mean = "{:,.2f}%".format(mean)
standard_deviation = "{:,.2f}%".format(standard_deviation)

# Print the Results
print(f'The {column} has:')
print(f'        A Mean of: {mean}')
print(f'        A Median of: {median}')
print(f'        A Mode of: {mode}')
print(f'        A Standard Deviation of: {standard_deviation}')

The Average Rating has:
        A Mean of: 65.58%
        A Median of: 64%
        A Mode of: 64%
        A Standard Deviation of: 7.72%